<ion-header>
  <ion-toolbar>
    <ion-title>Error 404-Pagina  no encontrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div id="notfound" class="ion-text-center">
    <div class="notfound">
      <div class="notfound-404">
        <h1>404</h1>
      </div>
      <h2>Oops, la página que buscas no se encuentra.</h2>
      <ion-item class="">
      </ion-item>
      <a routerLink="/login" class="ion-margin-top">
        <ion-icon name="arrow-back" slot="start"></ion-icon>
        Volver a la página de inicio
      </a>
    </div>
  </div>
</ion-content>
